html {
  font-family: 'Roboto', sans-serif !important;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
header {
  height: 50px;
  background-color: #232323;
}
main {
  margin: 50px;
  margin-bottom: 49px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer {
  height: 1px;
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
}
p {
  font-weight: bold;
  text-align: left;
}
article {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.nav {
  height: inherit;
  float: right;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: black;
}
.nav > * {
  height: inherit;
  width: 120px;
  float: inherit;
  background-color: inherit;
}
.nav > * a {
  height: inherit;
  width: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: inherit;
}
.nav > * a span {
  color: inherit;
  background-color: inherit;
}
.nav > * a:hover {
  color: black;
  background-color: white;
}
.text-box-light-gray {
  background-color: #F3F3F3;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text-box-light-gray > h1 {
  margin:10px;
  border:10px;
}
.text-box-dark-gray {
  background-color: #232323;
  box-sizing: border-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text-box-dark-gray div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-box-dark-gray div a {
  margin: 10px;
}
.text-box-dark-gray p {
  font-size: 20px;
}
.headshot {
  margin-bottom: 50px;
  border-radius: 100%;
}
iframe {
  height: 100vh;
  width: 75vw;
}
.contact {
  background-color: #F3F3F3;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}
.contact div {
  display: flex;
  display: space-around;
  justify-content: space-around;
  align-items: center;
}
.contact a {
  display: block;
  margin: 15px;
  background-color: #232323;
  padding: 10px;
}
