body {
  height: : 100%;
  width: : 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  height: 150px;
  background-color: #9C2E33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  display: block;
}
.wrapper {
  flex-grow: 1;
  background-color: #5C5D5F;
  display: flex;
  justify-content: center;
}
main {
  width: 400px;
  background-color: #636E0D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
main article {
  box-sizing: border-box;
  padding: 15px;
}
aside {
  width: 300px;
  background-color: #EE6030;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px;
}
footer {
  height: 150px;
  background-color: #9C2E33;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  height: 50px;
  width: 50px;
  z-index: 10;
}
